body {
    background-color: #808080;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container-fundo {
    background-color: #c7c2c2;
    width: 1200px;
    min-height: 530px;
    border-radius: 10px;
    padding: 10px;
}

.container-superior {
    width: 100%; 
    height: 200px;
    background-color: #5a5959;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    margin-bottom: 20px;
}

.circulo {
    width: 197px; 
    height: 197px; 
    border-radius: 50%; /* quadrado virar um círculo */
    overflow: hidden; /* enquadra a foto no circculo */
}   

.circulo_img {
    width: 100%;
    height: 100%;
    object-fit: contain; /* coloca a foto dentro do círculo sem cortar */
}